*{
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}

td {
    border: 8px solid black;
}
tr:nth-child(1) {
    height: 45px;
}
tr:nth-child(1) td:nth-child(1){
    width: 115px;
}
tr:nth-child(1) td:nth-child(2){
    width: 200px;
}
tr:nth-child(1) td:nth-child(3){
    width: 50px;
    background-color: yellow;
}
tr:nth-child(2){
    height: 129px;
}
tr:nth-child(2) td:nth-child(1){
    width: 5px;
}
tr:nth-child(2) td:nth-child(2){
    height: 260px;
    background-color: red;
}
tr:nth-child(3) {
    height: 130px;
}
tr:nth-child(4) {
    height: 60px;
}
tr:nth-child(4) td:nth-child(1) {
    width: 5px;
    background-color: #191919;
}
tr:nth-child(4) td:nth-child(2) {
    width: 5px;
    background-color: #191919;
}
tr:nth-child(5) {
    height: 55px;
}
tr:nth-child(5) td:nth-child(1){
    background-color: yellow
}
tr:nth-child(5) td:nth-child(2){
    background-color: #191919;
}
tr:nth-child(5) td:nth-child(3){
    background-color: #191919;
}
tr:nth-child(5) td:nth-child(5){
    background-color: #0f4e8b;
}
tr:nth-child(6) {
    height: 28px;
}
tr:nth-child(6) td:nth-child(2) {
   background-color: #191919;
}
tr:nth-child(7) {
    height: 27px;
}

td {
   padding: 20px; 
}