*{
    margin: 0;
    padding: 0;
}
table {
    height:;
    width: ;
    border-collapse: collapse;
}

td {
    border: 8px solid black;
}
tr:nth-child(1) {
    height: 45px;
}
tr:nth-child(2){
    height: 130px;
}
tr:nth-child(3) {
    height: 130px;
}
tr:nth-child(4) {
    height: 60px;
}
tr:nth-child(5) {
    height: 55px;
}
tr:nth-child(6) {
    height: 27px;
}
tr:nth-child(7) {
    height: 27px;
}
td {
   padding: 30px; 
}